<span class="loading-indicator" *ngIf="loading">
<mat-spinner>

</mat-spinner>
</span>

<div class="main_component">
    <h1>Welcome to my homepage!</h1>
    <mat-form-field>
        <mat-label for="email">Email: </mat-label><input matInput type="text" [formControl]="email"/>
    </mat-form-field>
    <mat-form-field>
        <mat-label for="password">Password: </mat-label><input matInput type="password" [formControl]="password"/>
    </mat-form-field>

    <span>
        <span><button mat-raised-button color="primary" (click)="signin()">Sign in</button></span>
        <span><button mat-raised-button color="primary" [routerLink]="'/sign-up'">Sign up</button></span>
    </span>
    <!--Async pipe
    <p>{{loadingObservation | async}}</p>-->
</div>